on:
  push:
    branches: main

name: Render and deploy Quarto site

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pages: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        
      - name: Install TinyTeX
        run: quarto install tinytex
        
      - name: Render site
        uses: quarto-dev/quarto-actions/render@v2
        with:
          path: Docker/

      - name: Deploy to GitHub Pages
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
          path: Docker/
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
